@charset "utf-8";
/* ue-content */
html, body, .ue-content {
    background: #efeff4;
}

.ue-content {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 9;
}

.ue-content-padded {
    padding: 10px;
}



