@charset "utf-8";
/* ue-clearfix */
.ue-clearfix:before, .ue-clearfix:after {
    display: table;
    content: ' ';
}

.ue-clearfix:after {
    clear: both;
}

.ue-pull-left {
    float: left;
}

.ue-pull-right {
    float: right;
}

/* ue-tap */
.ue-tap-eee:active {
    background-color: #eee !important;
}

/* ue-tap-class */
.ue-tap-class-eee:active:before {
    color: #ccc !important;
}