@charset "utf-8";
/* grid（默认移动设备） */

/*
 .ue-row > [class*='ue-col-']
 */
.ue-row:before, .ue-row:after {
    display: table;
    content: ' ';
}

.ue-row:after {
    clear: both;
}

.ue-row > [class*='ue-col-'] {
    float: left;
    position: relative;
    display: inline-block;
}

.ue-col-xs-12 {
    width: 100%;
}

.ue-col-xs-11 {
    width: 91.66666667%;
}

.ue-col-xs-10 {
    width: 83.33333333%;
}

.ue-col-xs-9 {
    width: 75%;
}

.ue-col-xs-8 {
    width: 66.66666667%;
}

.ue-col-xs-7 {
    width: 58.33333333%;
}

.ue-col-xs-6 {
    width: 50%;
}

.ue-col-xs-5 {
    width: 41.66666667%;
}

.ue-col-xs-4 {
    width: 33.33333333%;
}

.ue-col-xs-3 {
    width: 25%;
}

.ue-col-xs-2 {
    width: 16.66666667%;
}

.ue-col-xs-1 {
    width: 8.33333333%;
}

@media (min-width: 768px) {
    .mui-col-sm-12 {
        width: 100%;
    }

    .mui-col-sm-11 {
        width: 91.66666667%;
    }

    .mui-col-sm-10 {
        width: 83.33333333%;
    }

    .mui-col-sm-9 {
        width: 75%;
    }

    .mui-col-sm-8 {
        width: 66.66666667%;
    }

    .mui-col-sm-7 {
        width: 58.33333333%;
    }

    .mui-col-sm-6 {
        width: 50%;
    }

    .mui-col-sm-5 {
        width: 41.66666667%;
    }

    .mui-col-sm-4 {
        width: 33.33333333%;
    }

    .mui-col-sm-3 {
        width: 25%;
    }

    .mui-col-sm-2 {
        width: 16.66666667%;
    }

    .mui-col-sm-1 {
        width: 8.33333333%;
    }
}